extends ../layouts/layout

block content
	div.container
		div( class="starter-template")
			h1	Docklet Dashboard
			p( class="lead")
				|..for monitoring health.	


//		div(class="hero-unit")
//			h1 Heading
//			p	Tagline
//			p
//				a(class="btn btn-primary btn-large")
//					See Docklets

