body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.footer {
  margin-top: 50px;
}
#dockerEventWindow {
  position: fixed;
  bottom: 0px;
  left: 10px;
  margin: 0px;
  z-index: 222;
  box-shadow: 3px 3px 13px black;
}
.count {
  background-color: #428bca;
  border-radius: 10em;
  height: 50px;
  width: 120px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  text-shadow: 1px 1px 1px #333;
  color: #ccc;
}
.count span {
  color: #FFF;
  line-height: 1em;
  font-size: 3em;
}
.outputWindow {
  width: 600px;
  height: 400px;
  background: black;
  padding: 15px 20px 15px 20px;
  border-radius: 15px;
  border: 2px solid #CEE1F0;
  font-family: Monaco;
  font-size: 16px;
  overflow: auto;
}
.floatingWindowsWrapper {
  position: fixed;
  bottom: 0px;
  right: 10px;
}
.floatingWindowList {
  position: absolute;
  bottom: 0px;
  right: 10px;
}
.floatingWindowList .floatingWindow {
  float: right;
}
ul.floatingWindowList li {
  list-style: none;
}
.floatingWindow {
  transition: all 1s;
  width: 630px;
}
