extends ../../layouts/layout

block content
	h1= title
	hr

	
	script( type="text/template", id="dockletRowTemplate").
		<tr>
			<td> <%= index %> </td>
			<td> <%= title  %> </td>
			<td> <%= host  %> </td>
			<td> <%= port  %> </td>
			<td> <img src="/images/refreshing_x24.gif", alt="loading..." /> </td>
			<td> <img src="/images/refreshing_x24.gif", alt="loading..." /> </td>
			<td> <img src="/images/refreshing_x24.gif", alt="loading..." /> </td>
			<td> <img src="/images/refreshing_x24.gif", alt="loading..." /> </td>
			<td>
				<a href="#"   class="label label-primary action-refresh" docker-id="<%= id %>" >
					<span class="glyphicon glyphicon-refresh"  data-toggle="tooltip" data-placement="bottom" title="Refresh"> </span>
				</a> &nbsp;
				<a href="#"  class="label label-success action-explore" docker-id="<%= id %>" >
					<span class="glyphicon glyphicon-eye-open"> </span>
				</a> &nbsp;
				<a href="#" class="label label-danger action-delete" docker-id="<%= id %>" >
					<span class="glyphicon glyphicon-remove"> </span>
				</a>
			</td>
		</tr>

	script( type="text/template", id="imageTableTemplate").
		<div class="panel panel-default" id="imagesTable">
			<div class="panel-heading" >
				<span class="glyphicon glyphicon-list-alt"> </span>
				&nbsp; Images List 
			</div>
			<div class="panel-body table-responsive">
				<table class="table table-striped table-borderedf imageTable">
					<thead>
						<tr>
							<th> # </th>
							<th> ID  </th>
							<th> RepoTags  </th>
							<th> Created  </th>
							<th> Size  </th>
							<th> Virtual Size  </th>
						</tr>
					</thead>
					<tbody>
						<% _.each( images, function(image,index){ %>
							<tr>
								<td> <%= index + 1 %> </td>
								<td> <a href="javascritp:void(0);", image-id="<%= image.Id %>", title="<%= image.Id %>" ><span class="label label-primary"><%= image.Id.substring(0, 14) %> </span> </a>  </td>
								<td> <%= image.RepoTags %> </td>
								<td> <%= image.Created %>  </td>
								<td> <%= image.Size %> </td>
								<td> <%= image.VirtualSize %>  </td>
							</tr>
						<% }) %>

					</tbody>
			</table>
			</div>
		</div>

	script( type="text/template", id="containerTableTemplate").
		<div class="panel panel-default" id="containersTable">
			<div class="panel-heading" >
				<span class="glyphicon glyphicon-list-alt"> </span>
				&nbsp; Containers List 
			</div>
			<div class="panel-body table-responsive">
				<table class="table table-striped table-borderedf imageTable">
					<thead>
						<tr>
							<th> # </th>
							<th> ID  </th>
							<th> Image  </th>
							<th> Command  </th>
							<th> Created  </th>
							<th> Status  </th>
							<th> Ports  </th>
							<th> SizeRw  </th>
							<th> SizeRootFs  </th>
							<th> Names  </th>


						</tr>
					</thead>
					<tbody>
						<% _.each( containers, function(container,index){ %>
							<tr>
								<td> <%= index + 1 %> </td>
								<td> <a href="javascritp:void(0);", container-id="<%= container.Id %>" ><span class="label label-info" title="<%= container.Id %>"><%= container.Id.substring(0, 14) %> </span> </a>  </td>
								<td> <%= container.Image %> </td>
								<td> <%= container.Command %> </td>
								<td> <%= container.Created %> </td>
								<td> <%= container.Status %> </td>
								<td> <%= container.Ports %> </td>
								<td> <%= container.SizeRw %> </td>
								<td> <%= container.SizeRootFs %> </td>
								<td> <%= container.Names %> </td>
								<td>
									<a href="#"   class="label label-warning action-refresh" container-id="<%= container.Id %>" >
										<span class="glyphicon glyphicon-search"  data-toggle="tooltip" data-placement="bottom" title="Refresh"> </span>
									</a> &nbsp;
								</td>
							</tr>
						<% }) %>

					</tbody>
			</table>
			</div>
		</div>

	script( type="text/template", id="psTableTemplate").
		<div class="panel panel-default" id="processesTable">
			<div class="panel-heading" >
				<span class="glyphicon glyphicon-list-alt"> </span>
				&nbsp; Process List 
			</div>
			<div class="panel-body table-responsive">
				<table class="table table-striped table-borderedf imageTable">
					<thead>
						<tr>
							<th> # </th>

							<% _.each( titles, function(title){  %>
								<th> <%= title %> </th>
							<% }) %>
							
						</tr>
					</thead>
					<tbody>
						<% if( !processes){ %>
							<tr class="info" >
								<td colspan="<%= titles.length + 1 %>" class="text-center text-info"> No process running </td>
							</tr>

						<% } %>

						<% _.each( processes, function(process,index){ %>
							<tr>
								<td> <%= index + 1 %> </td>

								<% _.each( process, function(value){ %>
									<td> <%=  value %> </td>
								<% }) %>
								
							</tr>
						<% }) %>

					</tbody>
			</table>
			</div>
		</div>

	script( type="text/template", id="explorePanelTemplate")
		div(class="page-header explorePanel", id!="<%='panel_'+ id %>" )
			h4.alert.alert-info
				|<%= title %> (<%= host %>:<%=port%>)
				span(class="badge pull-right") 
					|v<%= Version %>
 
			div
			.col-md-8( style="line-height:50px;" )
				form.form-inline
					.form-group
						label  Monitor Docker Events 
						input.form-control.datepicker(type="textbox", placeholder="eg. 31 March, 2014") 
						input.form-control.timepicker(type="textbox", placeholder="eg. 4:30 AM", size="10")
					a#dockerEvents(href='#', docker-id!="<%= id %>")
						span(class="glyphicon glyphicon-circle-arrow-right")
			.col-md-4
				.count.pull-right
					span <%= Containers %>
					| Container
				.count.pull-right
					span  <%= Images %>
					| Images
			.clearfix
			hr
			//IMAGES TABLE
			<%= imagesTable %>
			//LOAD CONTAINERS 
			.containersWrapper
				.row
					.col-xs-7.col-md-5
						button( type="button", class="btn btn-default", id="loadContainers")
							| Load Containers			
					.col-xs-11.col-md-7
						form.loadContainerForm.form-inline
							select(class="form-control", name="period")
								option(value="before") Before
								option(value="after")  Since
							.form-group
								input.form-control.datepicker(type="textbox", name="date" ,placeholder="eg. 31 March, 2014")
								input.form-control.timepicker(type="textbox", name="time", placeholder="eg. 4:30 AM", size="10")
							| |
							.checkbox
								label
									input( type="checkbox", name="all")
									| all?
								label
									input( type="checkbox", name="size")
									| Include Size?
				hr


	script( type="text/template", id="inspectImageTemplate").
		<div class="panel"> 
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th> <%=  %> </th>


	script( type="text/template", id="floatingWindowTemplate")
		div( class!="panel <%= cssClass %> floatingWindow" )
			div.panel-heading
				h4.panel-title <%= title %>
					button( class="pull-right glyphicon glyphicon-remove closeFloatingWindow" aria-hidden="true" style="color: rgb(73, 68, 68);")  
					button( class!="glyphicon glyphicon-minus pull-right minFloatingWindow " aria-hidden="true" style="color: rgb(73, 68, 68);" )
			div.panel-body
				div.outputWindow


	div(class="panel panel-default")
		div( class="panel-heading ") 
			span(class="glyphicon glyphicon-list-alt")
			|&nbsp; Docklet List
		div.panel-body.table-responsive
			if docklets.length !== 0
				table(class="table table-striped table-bordered", id="dockletsTable")
					thead
						tr
							th #
							th name
							th host
							th port
							th Images
							th containers
							th Memory Limit
							th Health Status
							th
								a(href="#docklets/new", id="newDocklet",  class="label label-primary")
									span(class="glyphicon glyphicon-plus") 
					tbody
						-each docklet, index in docklets
							tr 
								td
									= index+1
								td
									= docklet.title
								td
									= docklet.host
								td
									= docklet.port
								td
									img(src="/images/refreshing_x24.gif", alt="loading..." )
								td
									img(src="/images/refreshing_x24.gif", alt="loading..." )
								td
									img(src="/images/refreshing_x24.gif", alt="loading..." )
								td.text-center
									|--NA--

								td
									a(href="#" , class="label label-primary action-refresh", docker-id="#{docklet.id}", title="refresh")
										span(class="glyphicon glyphicon-refresh", data-toggle="tooltip", data-placement="bottom") 
									|&nbsp;
									a(href="#" , class="label label-success action-explore", docker-id="#{docklet.id}", title="explore docklet")
										span(class="glyphicon glyphicon-eye-open") 
									|&nbsp;
									a(href="#", class="label label-danger action-delete", docker-id="#{docklet.id}", title="remove")
										span(class="glyphicon glyphicon-remove")
						tfooter
			else
				div.alert.alert-info.text-center
					|No docklet added yet. 
					a(href="#docklets/new", id="newDocklet", class="btn btn-info	") Add new docklet
	
	div(class="container-fluid" id="dynDataPlaceholder")

	div.floatingWindowsWrapper
		.floatingWindowList

	div( class="panel panel-primary floatingWindow" id="dockerEventWindow")
		div.panel-heading
			h4.panel-title Docker Event
				form.form-inline
					.form-group
						label  Monitor Docker Events 
						input.datepicker(type="textbox", placeholder="eg. 31 March, 2014", size="8") 
						input.timepicker(type="textbox", placeholder="eg. 4:30 AM", size="3")
					a#dockerEvents(href='#', docker-id!="<%= id %>")
						span(class="glyphicon glyphicon-circle-arrow-right")

				button( class="glyphicon glyphicon-minus pull-right minFloatingWindow" aria-hidden="true" style="color: rgb(73, 68, 68);",title="minimize" ) 
				button( class="glyphicon glyphicon-repeat pull-right clearOutputWindow" aria-hidden="true" style="color: rgb(73, 68, 68);", title="refresh" ) 	
				
		div.panel-body.hidden
			div.outputWindow

	.modal.fade#docklets_new
		.modal-dialog
			.modal-content
				div( class="alert  alert-dismissable hidden ", id="actionStatus")
					button(type="button", class="close", data-dismiss="alert", aria-hidden="true") &times; 

				form( id="newDockletForm", method="POST" , action="#docklets/create", role="form")

					.modal-header
						button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
						h4.modal-title Add new docklet host
					.modal-body
							div(class="form-group")
								label(for="title") Title
								input(type="text", id="title", name="title", class="form-control")
							div(class="form-group")
								label(for="host") Host
								input(type="text", id="host", name="host", placeholder="eg. 127.0.0.1", class="form-control")
								span :
								input(type="text", id="port", name="port", placeholder="eg.4340", class="form-control")
							div(class="form-group")
								label(for="healthURL") Health Check URL
								input(type="text", id="healthURL", name="healthURL", placeholder="eg. /health/check", class="form-control")

					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal', onClick=("javascript:void(0)")) Close
						button.btn.btn-primary(type='submit') Save changes
 
	.modal.fade#smallModalWindow(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true', data-backdrop="static", data-keyboard="false")
		.modal-dialog
			.modal-content
				blockquote
					.bs-callout.bs-callout-info
						h4 Title
						p body

