doctype html
html
	head
		title= title
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')


	body
		include ../views/_partials/_header
		.notificationBar
			include ../views/_partials/_notification
		include ../views/_partials/_header
		



		block content
		
		script(src="/javascripts/jquery.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		script( src="/primus/primus.io.js")
		script(src="/javascripts/bundle.js")
		
		include ../views/_partials/_footer
