doctype html
html
	head
		title= title
		meta( name="viewport", content="width=device-width")
		link( rel="icon", type="image/png" , href='/images/favicon.ico')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/picker/themes/default.css')
		link(rel='stylesheet', href='/picker/themes/default.date.css')
		link(rel='stylesheet', href='/picker/themes/default.time.css')





	body
		include ../views/_partials/_header
		.notificationBar
			include ../views/_partials/_notification
		include ../views/_partials/_header
		


		div.container
			block content
		
		script(src="/javascripts/jquery.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		<!-- script( src="/primus/primus.io.js") -->
		script( src="/primus/primus.js")
		script( src="/picker/picker.js")
		script( src="/picker/picker.date.js")
		script( src="/picker/picker.time.js")

		script(src="/javascripts/bundle.js")
		
		include ../views/_partials/_footer
